<% if !current_user.nil? %>
	<%= form_for :home, url: 'search' do |f| %>
	  <p>
	    <%= f.text_field :'username', :value=>'@' %>
	    <%= f.submit "Search" %>
	  </p>
	<% end %>
<% end %>

<ol>
	<% @tweet_news.each do |tweet| %>
    	<li><%= twitter_text(tweet.text) %></li>
    <% end %>
</ol>
