<!-- <h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p> -->
<% if !current_user.nil? %>
	<%= form_for :home do |f| %>
	  <p>
	    <%= f.text_field :'username', :value=>'@' %>
	    <%= f.submit "Search" %>
	  </p>
	<% end %>
<% end %>